.wrapper {
    margin-top: 20px;
}

#homepage h1 {
    margin-bottom: -5px;
}

#homepage p {
    color: #666;
}

#flash-message, #flash-error {
    display: none;
}

.vcard.users {
    min-width: 300px;
}

.users.disabled {
    background: #ffdfe3;
}

.vcard .smaller {
    font-size: 13px;
}