.wrapper {
    margin-top: 20px;
}

#homepage h1 {
    margin-bottom: -5px;
}

#homepage p {
    color: #666;
}

#flash-message, #flash-error {
    display: none;
}

.vcard.users {
    width: 100%;
}

.vcard.status {
    width: 100%;
}

.users.disabled {
    background: #ffdfe3;
}

.vcard .smaller {
    font-size: 13px;
}

.textarea-tall {
    min-height: 150px;
}

.no-margin {
    margin: 0;
}